body {
    margin:0px;
    padding:0px;
    background:#F7F9FA;
    font-family:方正兰亭准黑_GBK;
    overflow-x: hidden;
    outline:none;
}
#content {
    font-size:39px;
    padding-top:20px;
    padding-bottom:20px;
}
.contact_title {
    font-size:39px;
    color:#323333;
}
.content_item_image {
    text-align:center;
    padding-top:10px;
    padding-bottom:30px;
    margin:0px auto;
}
.content_item_title {
    font-size:39px;
    line-height:140%;
    color:#323333;
    padding-left:60px;
}
.content_item_desc {
    font-size:39px;
    line-height:140%;
    color:#555556;
    margin-left:27px;
    margin-right:27px;
}
.content_item_desc ul{
    list-style-image:url('../../image/ui_list_style_ico.png');
    list-style-position:outside;
    margin:0px;
    margin-left:27px;
    padding:0px;
}
.pb{
    padding-bottom:30px;
}
.content_image {
}
.line {
    height:1px;
    background:#C6C7C8;
    margin-top:50px;
    margin-bottom:50px;
}
.font_black {
    color:#000000;
}
.bottombar_ {
    position:fixed;
    width:100%;
    height:111px;
    bottom:0%;
    left:0%;
    background-image:url('../../image/botton_bar_bg.png');
}
.bottombar_container {
    width:100%;
    height:111px;
}
.bottombar_ a{
    text-decoration:none;
}
.font_white {
    font-size:39px;
    color:#ffffff;
}